<footer class="bg-white sticky top-[100vh]">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-start lg:px-8">
    <div class="flex justify-evenly w-full flex-wrap md:order-2 ">
      <div class="justify-items-end flex flex-col">
        <icon-healthy class="pl-3"></icon-healthy>
        <p>Normal</p>
      </div>
      <div class="justify-items-end flex flex-col">
        <icon-alert class="pl-3.5"></icon-alert>
        <p>Alerting</p>
      </div>
      <div class="justify-items-end flex flex-col">
        <icon-no-data class="pl-4"></icon-no-data>
        <p>No Data</p>
      </div>
      <div class="justify-items-end flex flex-col">
        <icon-error class="pl-1.5"></icon-error>
        <p>Error</p>
      </div>
      <div class="justify-items-end flex flex-col">
        <icon-pending class="pl-4"></icon-pending>
        <p>Pending</p>
      </div>
      <div class="justify-items-end flex flex-col">
        <icon-unmonitored class="pl-9"></icon-unmonitored>
        <p>Unmonitored</p>
      </div>
      <div class="justify-items-end flex flex-col">
        <icon-info class="pl-3"></icon-info>
        <p class="pl-3">Info</p>
      </div>
    </div>
    <div class="mr-8 mt-8 md:mt-0 md:order-1">
      <p class="text-center text-base text-gray-600">Icons:</p>
    </div>
  </div>
</footer>
