<footer class="bg-white sticky top-[100vh]">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-start lg:px-8">
    <div class="flex justify-evenly w-full md:order-2">
      <div>
        <icon-info></icon-info>
<!--        <p>Info</p>-->
      </div>
      <div>
        <icon-healthy></icon-healthy>
<!--        <p>Monitored</p>-->
      </div>
      <div>
        <icon-unmonitored></icon-unmonitored>
<!--        <p>Unmonitored</p>-->
      </div>
      <div>
        <icon-warning></icon-warning>
<!--        <p>Warning</p>-->
      </div>
      <div>
        <icon-error></icon-error>
<!--        <p>Error</p>-->
      </div>
      <div>
        <icon-alert></icon-alert>
<!--        <p>Alerting</p>-->
      </div>
    </div>
    <div class="mr-8 mt-8 md:mt-0 md:order-1">
      <p class="text-center text-base text-gray-600">Icons:</p>
    </div>
  </div>
</footer>
