<div [ngSwitch]="sliStatus">
  <icon-alert *ngSwitchCase="sliStatuses.ALERTING"></icon-alert>
  <icon-error *ngSwitchCase="sliStatuses.ERROR"></icon-error>
  <!--  <icon-error *ngSwitchCase="null"></icon-error>-->
  <icon-unmonitored *ngSwitchCase="sliStatuses.UNMONITORED"></icon-unmonitored>
  <icon-warning *ngSwitchCase="sliStatuses.NO_DATA"></icon-warning>
  <icon-healthy *ngSwitchCase="sliStatuses.NORMAL"></icon-healthy>
  <icon-info *ngSwitchCase="sliStatuses.INFO"></icon-info>
  <icon-pending *ngSwitchCase="sliStatuses.PENDING"></icon-pending>
</div>
